
.destination-form{
    background-color: #e2e2e2;;
}


form label{
    font-weight: 500;
    color: #818181;
}


.submit-btn {
    font-weight: 500;
    color: black;
    border-radius: 5px;
    background-color: #F9A51A !important; 
}